{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-undef": "error",
    "react/react-in-jsx-scope": "off"
  }
}
